<h3>{{ leyenda }}</h3>
<div class="input-group">
    <div class="input-group-btn">
        <button class="btn btn-primary" type="button" (click)="cambiarValor(-5)">
            <i class="mdi mdi-minus"></i>
        </button>
    </div>
    <input #txtProgress type="text" class="form-control" name="progreso" placeholder="Progreso" aria-label="Progreso" aria-describedby="button-addon4" min="1" max="100" [(ngModel)]="progreso" (ngModelChange)="onChanges($event)">
    <div class="input-group-btn">
        <button class="btn btn-primary" type="button" (click)="cambiarValor(+5)">
            <i class="mdi mdi-plus"></i>
        </button>
    </div>
</div>
