<h3>{{ leyenda }}</h3>
<div class="input-group">
    <div class="input-group-btn">
        <button class="btn btn-primary" type="button" (click)="cambiarValor(-5)">
            <i class="mdi mdi-minus"></i>
        </button>
    </div>
    <input type="text" class="form-control" placeholder="Progreso" aria-label="Progreso" aria-describedby="button-addon4" [(ngModel)]="progreso">
    <div class="input-group-btn">
        <button class="btn btn-primary" type="button" (click)="cambiarValor(+5)">
            <i class="mdi mdi-plus"></i>
        </button>
    </div>
</div>
